body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

.checkout-container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #d35400;
  margin-bottom: 20px;
}

.product-info p {
  margin: 10px 0;
  font-size: 16px;
}

form {
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.payment-method-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-method-label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.payment-method-select {
  padding: 10px;
  width: 100%;
  max-width: 300px; /* Adjust the width to be more responsive */
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.payment-method-select:focus {
  border-color: #66cc66;
  outline: none;
}

.payment-method-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #66cc66;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-method-button:hover {
  background-color: #55b255;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #d35400;
}
